<div class="jumbotron">
  <h1>About</h1>
</div>
<div class ="center">
  <p><a href="/">Home</a></p>
</div>
<hr>
<div class="container">
  <p>You are probably wondering...<i>But why Nicolas Cage</i>. Well firstly, Kevin Bacon has been done. And what other actor do you know that has been in more prolific films than Nic Cage. Exactly.</p>
  <p>Secondly, its Nic Cage.</p>
  <div class="github-icons">
    <a href="https://github.com/nrsantamaria" target="_blank"><img class="github" src="../img/github.png" alt="nicky github"></a>
    <a href="https://github.com/n-powell" target="_blank"><img class="github" src="../img/nick.png" alt="nick github"></a>
    <a href="https://github.com/jaybones90" target="_blank"><img class="github" src="../img/jason.png" alt="jason github"></a>
    <a href="https://github.com/jamesmilanhiggins" target="_blank"><img class="github" src="../img/james.png" alt="james github"></a>
  </div>
</div>
