<div class="jumbotron">
  <h1>Actor Name: <%= @actor.name %></h1>
</div>
<div class ="center">
  <p><a href="/">Home</a></p>
</div>
<hr>
<div class="container">


  <h3>Movies that this actor is in:</h3>
  <% if @actor.movies.any? %>
  <div class="well">
  <p><em>Click on a movie name to access its information:</em></p>
    <% @actor.movies.each do |movie| %>
      <p><a href="/movies/<%= movie.id%>"><%= movie.title %></a></p>
    <% end %>
  <% else %>
    <p>There are no movies that have this actor in their cast.</p>
  <%end%>
  </div>
</div>
