<h1>Current shoe brands included in database:</h1>
<h4>Click on a brand name to access their information:</h4>
<% if @brands.any? %>
  <% @brands.each do |brand| %>
    <ul>
      <li><a href="/brands/<%= brand.id %>"><%= brand.name %></a></li>
    </ul>
  <% end %>
<% else %>
  <p>There are no brands in the database yet.</p>
<%end%>
