<h1>Brand Name: <%= @brand.name %></h1>

<form action="/brand_edit/<%= @brand.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="new_brand_name">Change Brand Name:</label>
  <input type="text" name="new_brand_name">

  <button class="btn btn-info" type="submit">Update Brand</button>
</form>

<form action="/brand_delete/<%= @brand.id%>" method="post">
  <input type="hidden" name="_method" value="delete">

  <button class="btn btn-info" type="submit">Delete Brand</button>
</form>
