<div class="jumbotron">
  <h1>Show deepest connection</h1>
</div>
<div class="container center">
  <h2><%= @degrees %></h2>
<footer>
  <hr>
  <div class ="center">
    <p><a href="/">Home</a></p>
  </div>
</footer>
</div>
