<div class="center">
  <h1>Oops, Nic is pissed: </h1>
</div>



<iframe width="1280" height="720" src="https://www.youtube.com/embed/4zySHepF04c?autoplay=1" start="10" frameborder="0" allowfullscreen></iframe>



<footer>
  <hr>
  <div class ="center">
    <p><a href="/">Return home</a></p>
  </div>
</footer>
