<script>
 $( function() {
   var availableTags = [
    <% @actors.each do |actor| %>
      "<%= actor.name %>",
    <% end %>
   ];
   $( ".tags" ).autocomplete({
     source: availableTags,
     minLength: 3,
   });
 } );
 </script>

<div class="jumbotron">
  <h1>Six Degrees</h1>
  <div class="row">
    <div class="col-sm-4">
      <div class="slide">
        <img class="mySlides" src="../img/love_cage.gif">
        <img class="mySlides" src="../img/sunglass_cage.gif">
        <img class="mySlides" src="../img/roar_cage.gif">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="slide2">
        <img class="mySlides2" src="../img/smile_cage.gif">
        <img class="mySlides2" src="../img/picnic_cage.gif">
        <img class="mySlides2" src="../img/romance_cage.gif">
        <img class="mySlides2" src="../img/blink_cage.gif">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="slide3">
        <img class="mySlides3" src="../img/prison_cage.gif">
        <img class="mySlides3" src="../img/ok_cage.gif">
        <img class="mySlides3" src="../img/jump_cage.gif">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <div class="center">
        <h4>Choose two actors and see how they are connected:</h4>
      </div>
      <div class="ui-widget">
        <form action="/degrees" method="post">
          <div class="col-sm-5">
            <label for="actor_one">Enter A Name For The First Actor:</label>
            <input type="text" id="actor_one" name="actor_one" class="tags form-control">
          </div>
          <div class="col-sm-5">
            <label for="actor_two">Enter A Name For The Second Actor:</label>
            <input type="text" name="actor_two" class="tags form-control" id="actor_two">
          </div>
          <div class="col-sm-2">
            <button id="degree_btn" class="btn btn-info" type="submit">See Degrees</button>
          </div>
        </form>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="center">
        <h3>What is six degrees?</h3>
      </div>
      <p class="justify">Six degrees of separation is the idea that all living things and everything else in the world are six or fewer steps away from each other so that a chain of "a friend of a friend" statements can be made to connect any two people in a maximum of six steps. It was originally set out by Frigyes Karinthy in 1929 and popularized in an eponymous 1990 play written by John Guare. <a href="https://en.wikipedia.org/wiki/Six_degrees_of_separation" target="_blank"><em>- source</em></a>
      </p>
      <hr>
      <div class ="center">
        <p>To view all movies or actors in the database, click below:
        </p>
        <p><a href="/movies">Movies</a> | <a href="/actors">Actors</a></p>
      </div>
    </div>
  </div>
</div>
