<div class="jumbotron">
  <h1>Movie Title: <%= @movie.title %></h1>
  <br>
</div>
<div class="container">
  <h3>Current actors included in movie cast:</h3>
  <% if @movie.actors.any? %>
  <div class="well">
  <p><em>Click on a actor name to learn more:</em></p>
    <% @movie.actors.each do |actor| %>
            <p><a href="/actors/<%= actor.id %>"><%= actor.name %></a></p>
      <% end %>
    <% else %>
      <p>There are no actors in the movie cast.</p>
    <%end%>
  </div>


  <footer>
    <hr>
    <div class ="center">
      <p><a href="/">Return home</a></p>
    </div>
  </footer>
</div>
