.jumbotron h1 {
  font-family: 'Prosto One', cursive;
  text-align: center;
}

body {
  font-family: 'Lato', sans-serif;
}

.jumbotron {
  background-color: #B2E5E0;
}

.jumbotron h4 {
  text-align: center;
}

.btn-default {
  width:100px;
  margin: -20px -50px;
  position:relative;
  top:50%;
  left:50%;
}
.center {
  text-align: center;
}

.mySlides {
  display: none;
}

img {
  max-width: 500px;
  height: 230px;
  width:100%;
 }

 * {
   cursor: url(../img/degree_cursor.png), progress !important;
 }

.ui-autocomplete {
  background-color: #B2E5E0;
  border-radius: 10px;
  width: 30%;
}

 .sm_text {
   font-size: 20px;
   color: #B2A779;
 }
